.btn__primary {
  display: block;
  background: var(--green);
  color: var(--white);
  border: none;
  border-radius: 12px 0px 12px 0;
  height: 40px;
  width: 100%;
}
.btn__secondary {
  display: block;
  background: var(--btn-bgc);
  color: var(--white);
  border: none;
  border-radius: 12px 0px 12px 0;
  height: 40px;
  width: 100%;
}
