.product__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.product__box {
  max-width: 250px;
  margin-bottom: 25px;
}
.product__img {
  width: 250px;
  height: 350px;
}
.product__img > img {
  width: 100%;
  height: 100%;
}

.product__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;
  min-height: 120px;
}

.product__title {
  font-size: var(--sm-md);
  line-height: var(--lh-md);
  padding: 10px 0;
}
.product__price {
  font-size: var(--md);
  line-height: var(--lh-md);
  font-weight: 500;
  padding: 10px 0;
}

.product__btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__edit,
.product__delete {
  width: 50%;
  margin-top: 5px;
  border: none;
  color: white;
  padding: 5px;
}
.product__edit {
  background: rgb(195, 0, 255);
  border-radius: 12px 0px 0px 12px;
}
.product__delete {
  background: orangered;
  border-radius: 0px 12px 12px 0px;
}
